In [ ]:
x = 10  # Integer

In [ ]:
y = 3.14  # Float
name = "John"  # String
is_valid = True #/ false  # Boolean
my_list = [1, 2, 3]  # List
my_dict = {"key": "value"}  # Dictionary

In [ ]:
age = 25
height = 5.9
name = "John"
is_adult = False

In [ ]:
print(type(age))  
print(type(height))    
print(type(name))      
print(type(is_adult))

In [ ]:
False

In [ ]:
print(True,False)

In [ ]:
type(True)

In [ ]:
my_str= 'abc123'

In [ ]:
my_str.istitle()

In [ ]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

In [ ]:
# Boolean and Logical Operators

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
True or True

In [ ]:
str_example = 'Hello World'
my_str = 'ABC'

In [ ]:
my_str.isalpha() or str_example.isnum()

In [ ]:
# Lists

In [ ]:
# A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [ ]:
type([])

In [ ]:
lst_example=[]

In [ ]:
type(lst_example)

In [ ]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [ ]:
mixed_list = [1, 'two', 3.0, True]

In [ ]:
# Accessing Elements
my_list = [1, 2, 3, 4, 5]

In [ ]:
print(my_list[0])  # Output: 1
print(my_list[2])  # Output: 3

In [ ]:
print(my_list[-1])  # Output: 5

In [ ]:
print(my_list[1:3])  # Output: [2, 3]
print(my_list[:2])   # Output: [1, 2]
print(my_list[2:])   # Output: [3, 4, 5]

In [ ]:
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3, 4, 5]

my_list.append(6)
print(my_list)  # Output: [10, 2, 3, 4, 5, 6]

my_list.extend([7, 8, 9])
print(my_list)  # Output: [10, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
length = len(my_list)  # Length of the list
print(length)  # Output: 9

sum_of_list = sum(my_list)  # Sum of all elements in the list
print(sum_of_list)  # Output: 44

sorted_list = sorted(my_list)  # Returns a new sorted list
print(sorted_list)  # Output: [2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for num in row:
        print(num, end=" ")
    print()  # Print a new line after each row

In [ ]:
colors = ["red", "green", "blue"]

for index, color in enumerate(colors):
    print(f"Color at index {index}: {color}")

In [ ]:
names = ["Alice", "Bob", "Charlie"]

for i in range(len(names)):
    print(f"Name at index {i}: {names[i]}")

In [2]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Pop the last element from the list
removed_element = my_list.pop()

# Print the removed element and the modified list
print("Removed element:", removed_element)
print("Modified list:", my_list)

Removed element: 5
Modified list: [1, 2, 3, 4]

In [3]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [4]:
# SETS

In [5]:
#A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [6]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [7]:
set_var={1,2,3,4,3}

In [8]:
set_var

{1, 2, 3, 4}

In [9]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [16]:
## Inbuilt function in sets

set_var.add("Hulk")

In [17]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [25]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [26]:
set2.intersection_update(set1)

In [27]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [31]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [32]:
##Difference 
a = set2.difference(set1)

In [33]:
a

{'Hulk2'}

In [34]:
set2.difference_update(set1)

In [35]:
set2

{'Hulk2'}

In [29]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set2.difference(set1)
print(difference_set)  # Output: {4, 5}

{4, 5}

In [ ]:
# Dictionaries

In [36]:
# A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [37]:
dic={}

In [38]:
type(dic)

dict

In [39]:
set_ex={1,2,3,4,5}

In [40]:
type(set_ex)

set

In [41]:
my_dict = {"key1": "value1", "key2": "value2", "key3": "value3"}

In [42]:
another_dict = dict(key1="value1", key2="value2", key3="value3")

In [43]:
print(my_dict["key1"])  # Output: value1

value1

In [44]:
my_dict["key2"] = "new_value"

In [45]:
my_dict["key4"] = "value4"

In [46]:
my_dict

{'key1': 'value1', 'key2': 'new_value', 'key3': 'value3', 'key4': 'value4'}

In [47]:
del my_dict["key3"]  # Removes the key-value pair with key "key3"

In [48]:
my_dict

{'key1': 'value1', 'key2': 'new_value', 'key4': 'value4'}

In [49]:
my_dict.pop("key4")  # Removes and returns the value associated with "key4"

'value4'

In [50]:
my_dict

{'key1': 'value1', 'key2': 'new_value'}

In [51]:
for key in my_dict:
    print(key, my_dict[key])

key1 value1
key2 new_value

In [52]:
for key, value in my_dict.items():
    print(key, value)

key1 value1
key2 new_value

In [53]:
squared_dict = {x: x**2 for x in range(1, 6)}
print(squared_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
For x = 1, it assigns 1: 1**2 or 1: 1.
For x = 2, it assigns 2: 2**2 or 2: 4.
For x = 3, it assigns 3: 3**2 or 3: 9.
For x = 4, it assigns 4: 4**2 or 4: 16.
For x = 5, it assigns 5: 5**2 or 5: 25